.clients-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;

  @include desctop {
    display: flex;
    gap: 30px;
  }
}

.client-active {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;

  height: 92px;
  border: 1px solid var(--social-link-color);
  border-radius: 4px;

  @include tablet {
    width: 226px;
    // width: calc((100% - 2 * 30px) / 3);
  }

  @include desctop {
    width: 170px;
    // width: calc((100% - 5 * 30px) / 6);
  }

  &:hover,
  &:focus {
    width: 210px;
    // width: calc((100% - 30px) / 2);
    border: 1px solid var(--akcent-color);
    border-radius: 4px;
    outline: transparent;
    height: 92px;

    @include tablet {
      width: 226px;
      //   width: calc((100% - 2 * 30px) / 3);
    }

    @include desctop {
      width: 170px;
      //   width: calc((100% - 5 * 30px) / 6);
    }
  }
}

.icon-client {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--social-link-color);

  .client-active:hover &,
  .client-active:focus & {
    fill: var(--akcent-color);
    outline: transparent;
  }
}
