.section-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;

  background-color: var(--footer-color);
  max-width: 1600px;
  height: 400px;
  background-color: var(--hero-bgd-style-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/hero/mobile-hero-img@1x.jpg);

  @include retina-bgi {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/hero/mobile-hero-img@2x.jpg);
  }

  @include tablet {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/hero/hero-tablet-img@1x.jpg);

    @include retina-bgi {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../img/hero/hero-tablet-img@2x.jpg);
    }
  }
  @include desctop {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/hero/desctop-hero-Img@1x.jpg);

    @include retina-bgi {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../img/hero/desctop-hero-Img@2x.jpg);
    }
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bgd-color);

  @include desctop {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.section__hero__button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px 24px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--bgd-color);
  background-color: var(--akcent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  @include desctop {
    padding: 10px 32px;
  }

  &:hover,
  &:focus {
    background-color: var(--button-active-color);
  }
}
