.top-menu {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.item-top {
  width: 90%;

  @include mobile {
    width: 450px;
  }
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desctop {
    width: calc((100% - 2 * 30px) / 3);
  }
}

.top-link:hover,
.top-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.project-descr {
  flex-grow: 1;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--descr-color);
}

.top-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  outline: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay:hover .overlay-descr,
.overlay:focus .overlay-descr {
  transform: translateY(0);
}

.overlay-box {
  position: relative;
  overflow: hidden;
}

.overlay-descr {
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--bgd-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 63px 24px;
  background: var(--overlay-bgd);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-img {
  display: block;
}

.item-top-descr {
  flex-grow: 1;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 24px 20px;
}
