h1,
h2,
h3,
h4,
p {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--descr-color);
    background-color: var(--bgd-color);
}

.list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}