.curent {
    color: var(--akcent-color);

    &::after {
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--akcent-color);
        position: absolute;
        bottom: -1px;
        left: 0;
        opacity: 1;
    }
}