:root {
  --akcent-color: #2196f3;
  --title-color: #212121;
  --descr-color: #757575;
  --bgd-color: #ffffff;
  --logo-color: #000000;
  --footer-color: #2f303a;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --special-bgd-color: #f5f4fa;
  --button-active-color: #188ce8;
  --hero-bgd-style-color: #c4c4c4;
  --social-link-color: #afb1b8;
  --overlay-bgd: rgba(33, 150, 243, 0.9);
  --modal-vindow-bgd: rgba(0, 0, 0, 0.2);
  --modal-box-shadov: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --mobile-menu-decoraton: rgba(33, 33, 33, 0.2);
}

$mobile: 480px;

$tablet: 768px;

$desctop: 1200px;
