.section-footer {
  background-color: var(--footer-color);
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.section-footer__container {
  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
  }

  @include desctop {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer-adress-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 60px;

  @include tablet {
    display: inline-block;
    text-align: center;
    width: 50%;
  }

  @include desctop {
    width: 240px;
    text-align: left;
    padding-bottom: 0;
  }
}

.logo-footer {
  margin-bottom: 20px;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--bgd-color);

  @include tablet {
  }
}

.footer-adress {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--bgd-color);
}

.footer-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  & :hover,
  & :focus {
    color: var(--akcent-color);
  }

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-contact {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
  text-decoration: none;
}

.footer-social-links {
  text-align: center;
  padding-bottom: 60px;

  @include tablet {
    width: 50%;
    padding-top: 12px;
  }
  @include desctop {
    width: 210px;
    margin-left: 93px;
    padding-bottom: 0;
  }
}

.footer-links__list {
  display: flex;
  align-self: center;
  gap: 10px;

  @include tablet {
    justify-content: center;
  }
}

.join-in {
  padding-bottom: 20px;
  font-size: 14px;
  line-height: calc(14 / 16);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bgd-color);
}

.footer-link-item {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    outline: transparent;
    background-color: var(--akcent-color);
  }
}

.footer-link {
  fill: var(--bgd-color);
}

.footer-folows {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    margin-left: auto;
    margin-right: auto;
  }

  @include desctop {
    margin-right: 0;
    gap: 20px;
    display: block;
  }
}

.folows-input-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 450px;

  @include tablet {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 450px;
  }
  @include desctop {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
}

.footer_folows_subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bgd-color);
  text-align: center;
  margin-bottom: 20px;

  @include tablet {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--bgd-color);
    text-align: center;
  }
  @include desctop {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
  }
}

.folows-input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--footer-color);
  padding: 15px 16px;
  color: var(--footer-contact-color);
  align-self: center;

  @include tablet {
    width: 450px;
  }
  @include desctop {
    width: 358px;
  }
}

.footer-folows-button {
  position: relative;
  padding-right: 62px;
  padding-left: 28px;
  cursor: pointer;

  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  color: var(--bgd-color);
  background-color: var(--akcent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &s:hover,
  &s:focus {
    background-color: var(--button-active-color);
  }
}

.folows-icon {
  position: absolute;
  display: block;
  top: 13px;
  right: 28px;
}
