.section-practice {
  display: none;

  @include desctop {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.practice-menu {
  display: flex;
  gap: 30px;
}

.practice-img {
  display: block;
}

.practice-box {
  position: relative;
  display: flex;
}

.practice-descr {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  padding-top: 27px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bgd-color);
}
